//For light theme
$LOGO: #1e90ff;
$LOGO_TEXT: #363636;
$MAIN_TEXT: #121212;
$HEADER: #d7d7d7;
$BACKGROUND: #ffffff;


//For dark theme
// $LOGO: #00bfff;
// $LOGO_TEXT: #add8e6;
// $MAIN_TEXT: #ffffff;
// $HEADER: #222222;
// $BACKGROUND: #121212;