@import './styles/variables.scss';

.body {
  margin: 0;
  background-color: $BACKGROUND;
  min-height: 100vh;
}

.header {
  box-sizing: border-box;
  min-height: 44px;
  max-height: 44px;
padding: 5px 1vw 5px 1vw;
  background-color: $HEADER;
}

.main-logo {
  width: 150px;

  transition: 0.3s ease;

  & .main-logo__logo {
    fill: $LOGO;
  }

  & .main-logo__text {
    fill: $LOGO_TEXT;
  }

  &:hover {
    cursor: pointer;

    transition: 0.3s ease;

    & .main-logo__logo {
      fill: $MAIN_TEXT;

      transition: 0.1s ease;
    }
    
    & .main-logo__text {
      fill: $MAIN_TEXT;

      transition: 0.1s ease;
    }
  }
}