//For light theme
$LOGO: #1e90ff;
$MAIN_TEXT: #000000;
$ELEMENT_BACKGROUND: #ffffffb3;
$BODY_BACKGROUND: #d3d3d3;

//For dark theme
// $LOGO: #1e90ff;
// $MAIN_TEXT: #ffffff;
// $ELEMENT_BACKGROUND: #00000078;
// $BODY_BACKGROUND: #4d4e56;

//For black theme
// $LOGO: #1e90ff;
// $MAIN_TEXT: #ffffff;
// $ELEMENT_BACKGROUND: #ffffff2a;
// $BODY_BACKGROUND: #121212;